/*================================tag selectors========================*/

body{
    background-color: #faf3dd;
    margin: 0;
    padding: 0;
}

div{
  text-align: center;
  align-items: center;
  display: inline-block;
  position: relative;
}

h1{
  color: #065c6f;
  font-size: 5rem;
  font-family: 'Gochi Hand', cursive;
  margin: 0 auto;
  width: 30%;
}

h2{
  color : #64958f;
  font-family: 'Merriweather', serif;
}

h3{
  font-family: 'Merriweather', serif;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  margin: 0 auto;
  line-height: 2;
}

hr{
  width:5%;
  border: 0.5rem;
  border-color: #a2918a;
  border-style: dotted none none;
  margin: 100px auto;
}

a{
  font-family: 'Montserrat', sans-serif;
  color:#94b5bf;
  text-decoration: none;
  margin: 0 20px;
}

a:hover{
  color:white;
}

h6{
  font-family: 'Montserrat', sans-serif;
  color:white;
  margin: 0;
}

/*================================class selectors========================*/

.aboutme{
  height: 200px;
  border-radius: 100%;
}

.cloud{
  position: absolute;
  right:350px;
  top:50px;
}

.details{
  text-align: left;
}

.main{
  padding: 150px 0 0;
  font-family: serif;
}

.space{
  height:200px;
  width: 100%;
}

.mypic{
  align-self: center;
}

.coding-img{
  float: left;
  margin-right: 30px;
}

.hobby-img{
  float: right;
  margin-left: 30px;
}

.footer{
  width: 100%;
  height: 130px;
  margin: 50px 0 0;
  background-color: #64958f;
  color: white;
}

.contact-button{
  width:6rem;
  height: 3rem;
  background-color: #64958f;
  border-style: none;
  border-radius:0.5rem;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 0.9rem;
}

.contact-button : hover{
  background-color: white;
  color: #64958f;
}
